.loginPage
  height 100vh
  .header
    text-align center
    color #fff
    height: 64px
    paddingInline: 50px
    lineHeight: 64px
    background-color: #7dbcea
  .content
    textAlign: center
    min-height 300px
    lineHeight: 120px
    display flex 
    justify-content center
    align-items center
  .footer
    textAlign: center
    color #fff
    background-color: #7dbcea